input, select, option, label, h2, h3, p, button {
    color: white;
}

input, select {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.create-car, .edit-car, .view-cars, .car-card {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.car-card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.app {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}